DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_SSLMODE=disable
JWT_SECRET=8jyXi--TUkweiu1fADvWxBqUDOpC6o7hYIBxRZktHITLoX4vXssK-CIK-HoliW-FA1EGmwoW3DkvVdHIpqPcjyEMyyQBLEQ1fIWOh7COoZ7KcAWhVSWsGKq7i_esqLOj24bnfvrU-C2U1cXnjP-a4lgqWL2K94ndg3iIc417c8U
REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=1